<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>	

	<category label="General">
		<setting label="Vídeo De Intro " type="lsep" />
		<setting id="ver_intro" type="bool" label="Mostrar al inicio" default="true"/>
		
		<setting label="Resolucion Personalizada o Activar Tu Id De Usuario" type="lsep" />
		<setting id="xmlmaster" type="bool" label="Activar o desactivar Opciones" default="false"/>
		<setting id="SelectXMLmenu" type="enum" label="Seleccione Una Opcion:" values="Estandar|Alta|Media|Baja|Id de Usuario" default="DEFAULT" enable="!eq(-1,false)"/>		
		<setting id="id_pastebin" type="text" label="Ingresa Tu Id De Usuario Aqui: " default="" enable="!eq(-3,false)"/>
		
		<setting label="Control Paternal " type="lsep" />
   		<setting id="pekes_no" type="bool" label="Activar o desactivar contenido adulto" default="true"/>
		
		
		
	</category>
   
</settings>