<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>	

	<category label="General">
		<setting label="Resolucion Personalizada" type="lsep" />
		<setting id="xmlmaster" type="bool" label="Activar o desactivar Opciones" default="false"/>
		<setting id="SelectXMLmenu" type="enum" label="Seleccione Una Opcion:" values="Calidad Estandar|Calidad Alta|Calidad Media|Calidad Baja|Id de Usuario" default="DEFAULT" enable="!eq(-1,false)"/>		
		<setting id="id_pastebin" type="text" label="Ingresa Tu Id De Usuario Aqui: " default="" enable="!eq(-3,false)"/>
		
		<setting label="Control Paternal " type="lsep" />
   		<setting id="pekes_no" type="bool" label="Activar o desactivar contenido adulto" default="true"/>
	</category>
</settings>